@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@600&display=swap');

body {
    box-sizing: border-box;
    padding: 0px;
    background-color: rgb(51, 51, 51);
}

.navlist {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 60px;
    padding: 6px;
    border-radius: 6px;
    background-color: rgb(85, 84, 84);
}
/* Use margin instead of padding to separate list items dummy */
/* To remove link underlines add an "a" after a classname in CSS to act as an anchor*/
.navitem a {
    display: flex;
    flex-direction: flex-end;
    list-style-type: none;
    text-decoration: none;
    flex-wrap: wrap;
    margin-right: 2rem;
    color: rgb(255, 255, 255);
    font-size: 1.4rem;
    font-weight: 700;
}
.navitem a:hover {
    color: rgb(255, 67, 67);
}
#logo {
    font-size: 38px;
}
.navitem:first-child {
    margin-right: auto;
    margin-left: 2rem;
    font-size: 30px;
    font-weight: bold;
    min-width: 6px;
}
/* Affects the Join us button*/
#btnprimary {
    background-color:rgb(255, 117, 117);
    padding: 12px 24px 12px 24px;
    border: 0;
    border-radius: 4px;
    color: white;
    font-size: 16px;
    font-weight: 900;
    cursor: pointer;
    transition:all 200ms ease-in;
}
#btnprimary:hover {
    background-color: rgb(255, 74, 74);
}

#title {
    color: white;
    font-size: 44px;
    font-family: "Maven Pro", Verdana, sans-serif;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
hr {
    display: block;
    width: 430px;
    background-color: rgb(255, 116, 116);
    height: 2px;
    border: none;
}

#img1 {
    display: block;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;
    max-width: 300px;
}
/* Main paragraph which uses width to auto resize*/
#intro {
    display: block;
    width: 80%;
    text-align: center;
    margin-bottom: 100px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    font-weight: 550;
    font-family: Verdana, sans-serif;
    color: hsl(0, 0%, 100%);
    color: rgba(255, 255, 255, 0.8);
}